.welcome{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: 1px solid green;
    border-radius: 3px;
}
.return{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin:10px;
    padding: 10px;
    float:right;
    border: 2px solid blue;
    border-radius: 2px;
}
body{
    background-image: url('../images/fantasy_background_2.jpg');
    background-size: cover;
    box-sizing: border-box;
}
#dice-options{
    padding-top:5px;
    padding-bottom: 5px;
    margin-top:10px;
}
#d4, #d6, #d8, #d10, #d12, #d20, #d100{
    font-weight: 600;
    padding: 4px 0px;
    margin: 10px auto;
    text-align: center;
    border: 2px solid purple;
    border-radius: 3px;
}
#d4, #d6, #d8, #d10, #d12, #d20, #d100, .return, .sign-out :hover{
    cursor: pointer;
}
.weighting{
    font-style: oblique;
    padding:2px;
    border:1px solid orange;
    border-radius: 2px;
}
.options{
    font-weight: 300;
    display:inline;
    max-width: 50%;
    margin: 10px auto;
    border:2px solid purple;
    border-radius: 3px;
    text-align:center;
}
.roll-banner{
  
    margin:5px;
    padding:3px;
    border: 1px solid purple;
    border-radius: 2px;
}
.roll-wrapper{
    margin:5px;
    float:right;
}
#roll-holder{
    border: 2px solid purple;
    text-align: center;
    border-radius: 2px;
    color:white;
}
.roll-message{
    border:1px solid #283593;
    color:white;
}
#dicePic{
    margin-top: 15px;
}
#num-of-dice{
    border: 2px solid purple;
    border-radius: 2px;
    text-align: center;
    margin-right: 9%;
    max-height:22px;
    margin-top:10px;
    float:right;
}